<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow OpenCone to import reference documents from your photo library so they can be indexed for search.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Allow OpenCone to copy files from your Documents folder for secure, on-device indexing.</string>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>Allow OpenCone to open files stored in iCloud Drive or third-party providers for indexing.</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Allow OpenCone to read files you pick from cloud storage providers so they can be analyzed for search.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Document</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
